---
import CustomLayout from "@layouts/CustomLayout.astro";
import {ComplaintForm} from "@components/ComplaintsBook/ComplaintForm"
import {PrintableForm} from "@components/ComplaintsBook/ComponentPrint"


---

<CustomLayout title="Libro de Reclamaciones">
  <div class="w-full">
    <div class="p-4 py-6 sm:p-10 lg:p-[100px]  ">

        <ComplaintForm client:only="react"/>
    </div>
    
  </div>
</CustomLayout>