---
import CustomLayout from "@layouts/CustomLayout.astro";
import {ComplaintForm} from "@components/ComplaintsBook/ComplaintForm"
---

<CustomLayout title="Libro de Reclamaciones">
  <div class="w-full">
    <ComplaintForm client:load/>
  </div>
</CustomLayout>