---
import Layout from "@layouts/Layout.astro";
import LayoutCustomThreeSlots from "@layouts/LayoutCustomThreeSlots.astro";
---

<Layout title="orientación">
  <header class="lg:flex lg:justify-center w-full lg:py-[10px] lg: px-[20px]">
    <div class="flex flex-col w-full gap-[10px] lg:flex-row">
        <div
            class="text-center py-[20px] font-bold text-xl bg-background_third text-white lg:text-[25px] lg:py-[30px] lg:px-[60px]"
        >
            {.h1}
        </div>
        <div
            class="text-center font-bold text-lg lg:text-base lg:flex lg:items-center lg:py-[10px] lg:px-[60px] lg:bg-background_fourth text-second lg:grow"
        >
            {dataMultimediaPage.subtitle}
        </div>
    </div>
</header>
</Layout>
