---
import { dataCardContact } from "@data/components/CardContacto";
---

<div class="flex flex-col gap-[10px] text-center sm:text-start w-[200px] sm:w-[250px] m-auto">
    <div class="flex flex-col justify-center items-center ">
        <img src="/img/general/Alo_Placas.png" alt="" />
        <p>L - V De 08:00 a 17:30</p>
    </div>
    <div class="p-[15px] py-[40px] bg-background_fourth flex flex-col gap-[10px] sm:px-[20px]"  >
        {
            dataCardContact.content.map((item) => (
                <div class="flex justify-center lg:justify-start  gap-[20px] border-b-[1px] border-black">
                    <div>
                        <img src={item.img} alt=""  />
                    </div>
                    <div>
                        <h4 class="font-bold">{item.title}</h4>
                        <p>{item.description}</p>
                    </div>
                </div>
            ))
        }
    </div>
</div>
